/* add styles here */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100vw;
  border: 1px solid #e1e7ed;
  padding: 16px 8px;
  border-radius: 16px;
  height: 70px;
  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-position: 16px center;
}

.search-input {
  margin-left: 62px;
  border: none;
  width: 100%;
}
